@font-face {
  font-family: metropolis-semibold;
  src: url("./font/Metropolis-SemiBold.otf");
}

@font-face {
  font-family: metropolis-black;
  src: url("./font/Metropolis-Black.otf");
}

@font-face {
  font-family: metropolis-medium;
  src: url("./font/Metropolis-Medium.otf");
}

@font-face {
  font-family: metropolis-bold;
  src: url("./font/Metropolis-Bold.otf");
}
body,
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ed017f;
  --light-primary-color: #fce0ef;
  --extra-light-p-color: #fef9fc;
  --text-white: #ffffff;
  --text-black: #010101;
  --metro-semibold: metropolis-semibold;
  --metro-black: metropolis-black;
  --color-h1: #010101;
  --metro-medium: metropolis-medium;
  --color-grey: #676767;
  --color-light-gray: #999999;
  --metro-bold: metropolis-bold;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  all: unset;
  cursor: pointer;
}

.container {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-4 {
  width: calc(8.33% * 4);
  padding: 0 15px;
}

.col-8 {
  width: calc(8.33% * 8);
  padding: 0 15px;
}

.col-3 {
  width: calc(8.33% * 3);
  padding: 0 15px;
}

/* ========== */
/* Navbar */
/* ========== */

.nav-btn > .primary-btn {
  padding: 17px 30px;
  background-color: var(--primary-color);
  color: var(--text-white);
  border-radius: 4px;
  margin-left: 25px;
  transition: background-color 0.25s ease;
}

.nav-btn > .primary-btn:hover {
  background-color: #d40072;
  box-shadow: 0 4px 12px rgba(237, 1, 127, 0.4);
}

.navbar-collapsed,
nav,
.navbar-collapsed > ul,
.nav-btn {
  display: flex;
  align-items: center;
  font-family: var(--metro-semibold);
}

.nav-items {
  margin-right: 42px;
}

.nav-links:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.nav-links {
  color: var(--text-black);
  text-transform: uppercase;
}

.navbar-collapsed {
  flex-grow: 1;
  letter-spacing: 2px;
  font-size: 12px;
}

.navbar-collapsed > ul {
  margin: 0 auto;
}

.header-sec {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffffff;
}

.menu {
  display: none;
}

/* ========== */
/* Banner */
/* ========== */

.banner-row {
  align-items: center;
  flex-wrap: wrap-reverse;
}

.icons {
  display: flex;
}

.banner-sec {
  margin: 15px 0;
}

.banner-img {
  max-width: 905px;
  position: relative;
  margin: 0 auto;
}

.banner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-loan {
  display: flex;
  align-items: center;
  font-family: var(--metro-bold);
  padding: 20.18px 27px;
  color: var(--text-black);
  border-radius: 56px;
  position: absolute;
  right: 82px;
  top: 142px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.home-loan > .box {
  margin-left: 19px;
}

.car-loan {
  display: flex;
  align-items: center;
  font-family: var(--metro-bold);
  padding: 20.18px 27px;
  color: var(--text-black);
  border-radius: 56px;
  position: absolute;
  left: 77.19px;
  top: 30px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.car-loan > .box {
  margin-left: 19px;
}

.banner-content {
  margin-bottom: 38px;
}

.title-1 {
  /* max-width: 435px; */
  margin-bottom: 23px;
  font-family: var(--metro-black);
  font-size: 57px;
  line-height: calc(68 / 57);
  color: var(--color-h1);
}

.p-1 {
  /* max-width: 392px; */
  font-family: var(--metro-medium);
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--color-grey);
}

.banner-btn {
  display: flex;
  justify-content: space-between;
  font-family: var(--metro-semibold);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 51px;
  max-width: 365px;
}

.banner-btn > .primary-btn {
  padding: 13px 22.93px 13px 22.07px;
  background-color: var(--primary-color);
  color: var(--text-white);
  transition: background-color 0.25s ease;
  border-radius: 4px;
}

.banner-btn > .primary-btn:hover {
  background-color: #d40072;
  box-shadow: 0 4px 12px rgba(237, 1, 127, 0.4);
}

.banner-btn > .secondary-btn {
  padding: 13px 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transition: background-color 0.25s ease;
}

.banner-btn > .secondary-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-white);
  background-color: #d40072;
  box-shadow: 0 4px 12px rgba(237, 1, 127, 0.4);
}

.call-number {
  display: flex;
  align-items: center;
  margin-left: 11px;
  font-family: var(--metro-medium);
  font-size: 17px;
  color: var(--text-black);
}

.call-number > svg {
  margin-right: 11px;
}

.social {
  display: flex;
  align-items: center;
  position: relative;
}

.social li {
  margin-right: 16px;
}

.social li:first-child {
  position: relative;
  margin-right: calc(22.09px * 2);
}

.social li:first-child::after {
  content: "";
  width: 1px;
  background-color: #cccccc;
  position: absolute;
  right: -22.09px;
  top: 0;
  bottom: 0;
}

/* ========== */
/* card section */
/* ========== */

.card-sec {
  padding-top: 100px;
}

.card {
  max-width: 259px;
  margin: 0 auto 20px;
}

.card-content {
  margin-top: 18px;
}

.title-2 {
  max-width: 815px;
  font-family: var(--metro-bold);
  font-size: 36px;
  line-height: calc(43 / 36);
  color: var(--text-black);
  text-align: center;
  margin: 0 auto 18px;
}

.content > p {
  max-width: 623px;
  font-family: var(--metro-medium);
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--color-light-gray);
  text-align: center;
  margin: 0 auto 78px;
}

/* ========== */
/* card layout */
/* ========== */
.about-us-row {
  align-items: center;
}

.title-4 {
  margin-bottom: 10px;
  font-family: var(--metro-bold);
  font-size: 22px;
  line-height: calc(22 / 22);
  color: var(--text-black);
}

.card-content p {
  font-family: var(--metro-medium);
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--color-light-gray);
}

/* ===========* our services-card ============= */
.our-services {
  padding-top: 100px;
}

.our-services > .container {
  background-color: var(--extra-light-p-color);
}

img {
  border-radius: 9px;
}

.schemes {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-card {
  margin: 0 auto;
  max-width: 254px;
}

.services-card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title-5 {
  max-width: 195px;
  font-family: var(--metro-semibold);
  font-size: 21px;
  letter-spacing: calc(35 / 21);
  text-transform: uppercase;
}

.arrow {
  width: 30.83px;
  height: 30.83px;
  background-color: var(--light-primary-color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ===========* Best Result ============= */

.best-results {
  padding-top: 100px;
}

.title-3 {
  color: var(--text-black);
  margin-bottom: 8px;
  max-width: 100%;
}

.title-3:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.big {
  font-size: 40px;
}

.small {
  font-size: 35px;
  margin-left: 4px;
}

.results {
  max-width: 172px;
  margin: 0 auto;
}

.title-3 {
  max-width: 195px;
  font-family: var(--metro-bold);
  font-size: 21px;
  letter-spacing: calc(35 / 21);
}

.title-3 > .big {
  text-transform: uppercase;
}

.results > p {
  font-family: var(--metro-medium);
  font-size: 16px;
  line-height: calc(25 / 16);
  color: var(--color-light-gray);
  text-transform: uppercase;
}
.best-results .row {
  row-gap: 55px;
}

/* ===========* Footer * ============= */

.footer-col {
  display: flex;
  width: 20%;
  padding: 0 15px;
  /* text-align: center; */
  margin: 0 auto 20px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social li {
  margin-right: 16px;
}

.title-6 {
  /* max-width: 175px; */
  font-family: var(--metro-semibold);
  font-size: 18px;
  letter-spacing: calc(22 / 18);
  color: var(--text-black);
  margin-bottom: 20px;
}
.about-the-company > p {
  /* max-width: 180px; */
  font-family: var(--metro-medium);
  font-size: 14px;
  line-height: calc(22 / 14);
  color: var(--color-light-gray);
  text-transform: capitalize;
  margin-bottom: 16px;
}

.footer-items {
  margin-bottom: 10px;
}
.items-row {
  /* max-width: 180px; */
  font-family: var(--metro-medium);
  font-size: 14px;
  line-height: calc(22 / 14);
  margin-top: 20px;
}
.footer-links {
  color: var(--color-light-gray);
  text-transform: capitalize;
}
.footer-links:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.footer-sec {
  padding-top: 87px;
}
.about-the-company,
.products,
.get-started,
.about {
  margin: 0 auto 20px;
  text-align: center;
}

/* ======================MEDIA SCREEN================= */

@media screen and (max-width: 1250px) {
  .navbar-collapsed {
    display: none;
  }
  .menu {
    display: block;
    margin-left: auto;
    border: 1px solid var(--primary-color);
    padding: 3px;
    border-radius: 4px;
  }

  /* ============Banner Section========== */
  .col-4,
  .col-8 {
    width: 100%;
    margin: 0 auto;
  }

  .social {
    margin: 0 auto;
  }
  .title-1,
  .p-1 {
    text-align: center;
  }

  .banner-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 51px;
  }
}

@media screen and (max-width: 950px) {
  .card-sec .col-3 {
    width: 33%;
  }
  .our-services .col-3 {
    width: 50%;
  }
  .our-services .row {
    row-gap: 30px;
  }
  .banner-img {
    position: relative;
  }
  .car-loan {
    position: absolute;
    margin-right: auto;
  }
  .home-loan {
    position: absolute;
    margin-left: auto;
    top: 30px;
  }
}

@media screen and (max-width: 700px) {
  .title-1 {
    font-size: 37px;
  }
  .social {
    margin: 0 auto;
  }
  .card-sec .col-3 {
    width: 50%;
  }
  .best-results .col-3 {
    width: 50%;
  }
  .big {
    font-size: 28px;
  }
  .small {
    font-size: 22px;
  }
  .title-2 {
    font-size: 26px;
  }
  .title-4 {
    font-size: 20px;
  }
  .car-loan,
  .home-loan {
    display: none;
  }
  .footer-col:first-child {
    width: 100%;
    text-align: center;
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-col {
    width: 50%;
  }
}
@media screen and (max-width: 475px) {
  .card-sec .col-3 {
    width: 50%;
  }
  .our-services .col-3 {
    width: 100%;
  }
  .best-results .col-3 {
    width: 50%;
  }
  .big {
    font-size: 28px;
  }
  .small {
    font-size: 22px;
  }
  .title-3 > p {
    font-size: 14px;
  }
  .banner-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width: 350px) {
  .footer-col,
  .footer-social {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 280px) {
  .best-results .col-3 {
    width: 100%;
  }
  .card-sec .col-3 {
    width: 100%;
  }
}
